version: "3.7"
services:
  php56:
    build: ./php56
    image: php56:test
    volumes:
     - ./php56/config/php.ini:/etc/php/php.ini
     - ./php56/config/php-fpm.conf:/etc/php/php-fpm.conf
     - ./php56/config/conf.d:/etc/php/conf.d
    restart: always
    container_name: my_php
  nginx:
    # build: ./nginx
    image: nginx:stable-alpine
    depends_on:
      - php56
    links:
      - php56:php-fpm
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/cert:/etc/nginx/cert
      - ./nginx/html:/usr/share/nginx/html
      - ./nginx/log:/var/log/nginx
    ports:
      - "80:80"
    container_name: my_nginx
  redis:
    image: redis:5.0
    restart: always
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf
    ports:
      - 6379:6379
    container_name: my_redis
