version: "3.7"
services:
  php72:
    image: php:7.2-fpm
    volumes:
      - ./config/php72/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./config/php72/php-fpm.d:/usr/local/etc/php-fpm.d
      - ./wwwroot:/usr/share/nginx/html
    restart: always
    container_name: my_php
    networks:
      - default
  nginx:
    image: nginx
    links:
      - php72:php-fpm
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/cert:/etc/nginx/cert
      - ./wwwroot:/usr/share/nginx/html
      - ./nginx/log:/var/log/nginx
    ports:
      - 80:80
    container_name: my_nginx
    networks:
      - default

  redis:
    image: redis:5.0
    restart: always
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf
    ports:
      - 6379:6379
    container_name: my_redis
    networks:
      - default
  
networks:
  default:
