version: "3.7"
services:
  php:
    build: ./php
    image: php:5.6.31
    restart: always
    ports:
      - "9000:9000"
    container_name: my_php
  nginx:
    image: nginx:stable-alpine
    depends_on:
      - "php"
    restart: always
    container_name: my_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/cert:/etc/nginx/cert
      - ./nginx/html:/usr/share/nginx/html
    ports:
      - "8080:80"
  redis:
    image: redis:5.0
    restart: always
    container_name: my_redis
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/etc/redis/redis.conf
    ports:
      - 6379:6379
