version: "3.7"
services:
  php56:
    build: ./build/php56
    image: php:5.6.27
    volumes:
      # - ./config/php56/php-fpm.conf:/usr/local/etc/php-fpm.conf
      # - ./config/php56/php-fpm.d:/usr/local/etc/php-fpm.d
      - ./wwwroot:/usr/share/nginx/html
    restart: always
    container_name: my_php
    networks:
      - default
  # php72:
  #   image: php:7.2-fpm
  #   volumes:
  #     - ./config/php72/php-fpm.conf:/usr/local/etc/php-fpm.conf
  #     - ./config/php72/php-fpm.d:/usr/local/etc/php-fpm.d
  #     - ./wwwroot:/usr/share/nginx/html
  #   restart: always
  #   container_name: my_php
  #   networks:
  #     - default
  nginx:
    image: nginx:1.16.0-alpine
    links:
      # - php72:php-fpm72
      - php56:php-fpm56
    restart: always
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/conf.d:/etc/nginx/conf.d
      - ./config/nginx/cert:/etc/nginx/cert
      - ./config/nginx/log:/var/log/nginx
      - ./wwwroot:/usr/share/nginx/html:rw
    ports:
      - 80:80
    container_name: my_nginx
    networks:
      - default
  # redis:
  #   image: redis:5.0
  #   restart: always
  #   volumes:
  #     - ./redis/data:/data
  #     - ./redis/redis.conf:/etc/redis/redis.conf
  #   ports:
  #     - 6379:6379
  #   container_name: my_redis
  #   networks:
  #     - default
  
networks:
  default:
